.navbar{
  color: white;
}
.quote{
  background: aqua;
}

button.delete{
  border-radius: 5px;
  background: #d61717;
}
a.link{
  text-decoration: none;
  color: white;
  
}
.card-footer{
  background:black;
  color: white;
}
