{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}




{% block content %}
<div class="container bg-info">
  <h3 style="text-align: center; color: blue">Comments</h3>
  {% for comment in comment%}
  <ul>
    <li>
      {{comment.comment}}.<strong>-{{comment.user.username}} on {{comment.date_posted.strftime('%Y-%m-%d')}}</strong>
      <a href="{{url_for( 'main.delete_comment', id= comment.id)}}"><button>Delete</button></a>

    </li>
  </ul>
  
  {% endfor %}
</div>
{% endblock %}





