{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<!-- <h1>Hello kenya</h1> -->
<div class="container-fluid">
  <div class="row quote">
    <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
          <div class="">
              <h3>
                  <q>
                      {{ quote.quote }}
                  </q>
              </h3>
              <p class="author mt-2">
                  -{{ quote.author }}
              </p>
          </div>
      </div>
  </div>
</div>


{% endblock %}